<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <connectionStrings>
        <add name="EnergyManagementDB" 
             connectionString="Data Source=DESKTOP-N513RVN;Initial Catalog=EnergyManagement;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False;Command Timeout=30" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>